.maindiv_gateway_priority {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.table_main {
  border: 1px solid #e5e5e5;
  padding: 9px 15px;
  width: 80%;
}

.div_inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;

}

.padded {
  padding: 9px 15px;

}

.btn_wrapper {
  border-top: 1px solid #e5e5e5;
  padding: 0;
  margin: 0 auto;

}

.btn {
  background-color: hsl(143,68%,29%)!important;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#24c060),color-stop(100%,#177c3e));
  -webkit-font-smoothing: antialiased;
  font-family: 'Ubuntu',sans-serif;
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  padding: 4px 12px;
  transition: background-position .1s linear;
}

.label {
  font-family: sans-serif;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  font-size:12px;
  font-weight: bold;
  line-height:14px;
  color:white;
  margin-bottom: 10px;
}

.label-warning {
  background-color: #f89406;
}

.text_area {
  margin: 0;
  height:150px;
  width: 90%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border linear .2s,box-shadow linear .2s;
  display:inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  overflow: auto;
}

.readonly {
  cursor: not-allowed;
  background-color: #eee;
}

.table {
  margin-bottom: 20px;
  color: black;
  width:70%;
}

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-radius: 4px;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9;
}

.table-bordered th {
  border-left: 1px solid #ddd
}
.table th {
  font-weight: bold;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: center;
}


.table-bordered td {
  border-left: 1px solid #ddd
}
.table td {
  font-weight: bold;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

.accordion-outer {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}

.accordion-group {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;

  }

.accordian-heading {
  line-height:20px;
  border-bottom: 0;
  display: block;
  padding: 8px 15px;
}
.accordion-toggle {
  padding: 8px 15px;
  cursor: pointer;
  color: #146b36;
  display: block;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}

.accordion-body {
  width:100%;
}

.table_route {
  width:100%;
}
.left_tr {
  align: 'left'
}
